* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}
.dark{
    --black: #333;
    --white: #f1f1f1;
    --shadow: rgba(255,255,255,0.2);
}
#Nav .subnav .subnav-active::before {
    content:'☞';
    font-size: 22px;
    display: inline-block;
    color: #fc0a0a;
    padding: 0px ;
    height: 0px;
    background: #001529;
}
.boder-right {
    border-right: 6px solid #4b92d4;
}
.active {
    box-shadow: 0px 0px 4px #394148;
    background: #03203a;
}
.display-none {
    display: none !important;
}
.open {
    display: block !important;
}
.position-sitcky{
    position: sticky;
    top:0;  
}

#main {
    
}
/* Begin Nav */
#wrapper-Nav {
    display: flex;
    flex-direction: row;
}
#wrapper-Nav .body-logo-wrappe{
    display: flex;
    align-items: center;
    height: 58px;
    width: 220px;
    background: #001529;
    border-bottom: 2px ridge #092642;
}
#wrapper-Nav .body-logo-wrappe .logo {
    font-size: 22px;
    padding: 3px 6px;
    border: 2px solid #c6c913;
    border-radius: 50%;
    margin-left: 6px;
    color: #c6c913;
}
#wrapper-Nav .body-logo-wrappe .logo-heading {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 16px;
}

#wrapper-Nav #Nav {
    display: block;
    width: 48px;
    height: 100%;
    background: #001529;
    font-size: 16px;
    color: #e8e8e8;
    -webkit-user-select: none;
    user-select: none;
    min-height: 650px;
}
#Nav ul span {
    display: block;
    padding: 12px 16px ;
    cursor: pointer;
    margin: 12px 0px;
}
#Nav .subnav li:hover,
#Nav ul  span:hover {
    background: #307abb;
}
#Nav li i {
    margin-right: 10px;
}
#Nav .Nav-heading {
    display: inline-block;
}
#Nav .subnav {
    padding-left: 28px;
    padding-bottom: 10px;
    display: none;
    border-style: none;
    background: #001529;
    width: 100%;
    
}
/* @keyframes modalLeftToRight{
    from{
        opacity: 0;
        transform:translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
} */
#Nav .subnav li {
    list-style: none;
    display: block;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}
#Nav .subnav li::before {
    content: "";
    display: inline-block;
    padding: 4px;
    background: #5d7892;
    border-radius: 50%;
    margin-right: 12px;
}
.menu-c1 a,
.subnav li a {
    text-decoration: none;
    color: #e8e8e8;
}
/* End Nav */
#wrapper-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    width: 100%;
    background-color: #cccccc;
    padding: 0px 20px;
}
#head #btn-menu {
    cursor: pointer;
    color: #165076;
    font-size: 22px;
    padding: 4px 7px;
    position: absolute;
    border-radius: 50%;
}
#head #btn-menu:hover {
    color:#f3680b;
    background-color: #bbc1c5;
}
#head .head-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e8e8e8;
    width: 250px;
    height: 30px;
    background: #ffffff;
    border-radius: 25px;
    padding: 0 16px 0 8px;
    margin-left: 25%;
}
#head i ,
#head .head-search i {
    font-size: 18px;
    padding: 5px;
    color: #2e2b2b;
}
#head .head-search input {
    
    border: none;
    font-size: 14px;
    height: 100%;
    outline: none;
    /* border-radius: 25px; */
    background: #ffffff;
    caret-color:#333;
    flex: 1 1;
}
.sub-head{
    font-size: 22px;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}
.sub-head .head-icon {
    margin-right: 18px;
    /* display: none; */
}
.sub-head .head-icon i {
    padding: 6px;
}
.account {
    padding: 9px 12px;
    background: #c19da6;
    border-radius: 999px;
    margin-left: 12px;
    font-size: 14px;
}
.btn-login {
    border-radius: 999px;
    padding: 2px 12px;
    text-decoration: none;
    color: #e8e8e8;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
/* End Head */
/* Begin Content */
#content {
    margin: 22px;
    box-shadow: 0px 0px 5px #383b3c;
}

/* End content */